* {
    font-family: 'Share Tech Mono', monospace;

}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(112, 166, 184);
}


#input-box {
    /*padding: 20px 40px 20px 40px;*/
    display: flex;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    border-bottom: 2px solid black;
    
}

#add-task {
    padding: 5px 10px 5px 10px;
    background-color: lightgrey;
    border-radius: 5px 5px 5px 5px;

}

#add-task:hover {
    background-color: lightslategrey;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    background-color: lightgrey;
    border-radius: 5px 5px 5px 5px;

}

button:hover {
    background-color: lightslategray;
}


#list {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    
}

li {
    margin: 10px 0 10px 0;
    
}

